<div class="row margin-page">
    <div class="col-12">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    <div class="col-12">
                        <h3>{{editState !=='true' ? 'Crear': 'Editar'}} Empleado</h3>
                    </div>
                </div>
                <div class="row">
                    <form [formGroup]="employeeForm" (ngSubmit)="action()">
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="full_name"
                                placeholder="Nombre Completo del empleado">
                        </div>
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="company_name"
                                placeholder="Nombre de la compañia asociada al empleado">
                        </div>
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="email"
                                placeholder="Email del empleado">
                        </div>
                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="rol"
                                placeholder="Role del empleado">
                        </div>
                        <div class="col-12 button-div">
                            <div class="row">
                                <div class="col-4 offset-1">
                                    <button type="button" [disabled]="employeeForm.invalid" (click)="action()"
                                        class="btn btn-primary">{{editState !=='true' ? 'Crear': 'Editar'}}</button>
                                </div>
                                <div class="col-4 offset-1">
                                    <button type="button" (click)="back()" class="btn btn-light">Atrás</button>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>