/* You can add global styles to this file, and also import other style files */

th,
td {
    text-align: center;
}
.margin-page {
    margin-top: 40px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}